/* :root {
    --white-color-lv5: #dfdfdf;
    --dark-color-lv5: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100vw;
    overflow-y: hidden;
    font-family: 'Kanit', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.gamesAndProjects {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-basis: auto;
    overflow: hidden;
    row-gap: 20px;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
