body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.quiz-container {
	max-width: 600px;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

h1 {
	font-size: 24px;
	margin-bottom: 20px;
}

.question {
	font-size: 20px;
	margin-bottom: 20px;
}

.answers {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

button {
	padding: 10px 20px;
	font-size: 18px;
	background-color: #3498db;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #2980b9;
}
.timer {
	margin: 10px 2px;
}

.score {
	font-size: larger;
	font-weight: bold;
	margin-bottom: 10px;
}
