.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: rgba(0,0,0,0.5); 
    display: flex;  
    align-items: center;
}
.modal_content{ 
    width: 100%;
    padding: 2rem 0;
    background-color:var(--color-bg-light);
    border: 2px solid black;
}
.score{
    text-align: center;
}
.score_title{
    font-size: 2rem;
    display: flex;
    gap: 6px;
    margin: 30px 0;
    justify-content: center;
    align-items: center;
}
.score_btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
}
.restart{
text-align: center;
}
.restart_title{
    font-size: 2rem;
    display: flex;
    gap: 6px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.restart_btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
}