* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #212121;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: "Outfit", sans-serif;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 30px;
}

input {
    padding: 10px;
    font-weight: bolder;
}

.resultOfLap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    column-gap: 20px;
}