body {
    font-family: Arial, sans-serif;
    background-color: #3a3632;
}

.container {
    text-align: center;
    margin-top: 50px;
    display: flex;
}

.container input[type="submit"] {
    width: 60px;
    height: 60px;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    margin: 10px;
    background-color: #fff;
}

.btns {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.texts {
    text-align: center;
    margin-top: 20px;
    color: #1c09ef;
    font-size: 25px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
}

.btns input[type="submit"] {
    padding: 30px;
    font-size: 21px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #0ca5bc;
    border-radius: 20px;
    box-shadow: 0 10px #999;
    height: 12vh;
}

.btns input[type="submit"]:hover {
    background-color: #000000
}

.laps {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    color: white;
}

.with_text {
    display: flex;
    flex-direction: column;
}