*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    padding: 50px 0;
    font-family: 'Outfit', sans-serif;
}
#pickColor{
    height: 50px;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 20px 10px 100px rgba(0, 0, 0, 0.753);
}
.colorNamehex, .colorNamergb{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    background-color: rgb(65, 0, 168);
    border-radius: 20px;
    color: white;
    padding: 20px;
    box-shadow: 20px 10px 100px rgba(0, 0, 0, 0.753);
}
.colorNamergb{
    width: 300px;
}