*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    row-gap: 20px;
    background-color: #212121;
    color: white;
    font-family: "Outfit", sans-serif;
}
.clock{
    background:linear-gradient(135deg,#14ffe9,#ffeb3b,#ff00e0);
    height: 90px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction: row;
    height: 8rem;
    justify-content: space-between;
    align-items: center;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 100px;
    width: 400px;
    border: 1px solid rgb(111, 111, 111);
    box-shadow: 10px 10px 3px #273938;
    transition: .4s all ease;
    
}

.text:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 100px;
    width: 400px;
    border: 1px solid rgb(111, 111, 111);
    box-shadow: 15px 15px 3px #273938 ;
}


.texts{
    display: flex ;

    flex-direction: column;
    justify-content: space-around;
    margin: 5px 2px;



}
.texts span{
    font-weight: 500;
    font-size:1.5rem;
    margin: 2px 15px;
}

.day{
    background:linear-gradient(135deg,#14ffe9,#ffeb3b,#ff00e0);
    
    padding: 10px;
    border: 3px solid rgb(206, 200, 200);
    border-radius: 10px;
    color: rgb(59, 59, 59);
   
    font-size: 1.5rem;
    transition: .3s all ease-in;
  
}

.day:hover{
    border-radius: 0;
    font-size: 1.55rem;
}