*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    row-gap: 20px;
    background-color: #212121;
    color: white;
    font-family: "Outfit", sans-serif;
}
.clock{
    background-color: rgb(255, 198, 9);
    height: 90px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction: row;
    height: 8rem;
    justify-content: space-between;
    align-items: center;
}
.text{
    font-size: 2rem;
}
.texts{
    display: flex ;

    flex-direction: column;
    justify-content: space-around;
    margin: 5px 2px;



}
.texts span{
    font-weight: 500;
    font-size:1.5rem;
    margin: 2px 15px;
}