*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --color-bg-dark:#192a33;
  --color-bg-light: #1f3640;
  --color-gray:#a8bec9;
  --color-gray-dark:#7a8991;
  --color-yellow:#f2b238;
  --color-yellow-dark:#cd8d16;
  --color-blue:#30c4be;
  --color-blue-dark:#128c89;
  --shadow-y:6px;
}
html{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}
body{
  background-color: var(--color-bg-dark);
  color: var(--color-gray);
}
.App{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  max-width: 450px;
  width: 100%;
  margin-inline:auto;
  padding: 2rem 1rem;
}