body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #37517e;
    margin-bottom: 20px;
    font-size: 36px;
}

.options {
    margin-bottom: 30px;
}

label, input, button {
    margin-bottom: 15px;
    font-size: 16px;
}

input[type="number"] {
    width: 60px;
    text-align: center;
}

button {
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 15px 30px;
    background-color: #47b2e4;
    color: white;
    border: none;
    border-radius: 5px;
}

#generatePassword
{
    margin-bottom: 0;
}
button:hover {
    background-color: #37517e;
}

.password {
    margin-top: 30px;
}

#password {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 20px;
    border: 2px solid #37517e;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #37517e;
}

#copyToClipboard {
    background-color: #47b2e4;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

#copyToClipboard:hover {
    background-color: #37517e;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 28px;
    }

    input[type="number"] {
        width: 40px;
    }

    button {
        font-size: 14px;
        padding: 12px 24px;
    }
}
