body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

.options {
    text-align: left;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    padding: 10px 16px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.password {
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#copyToClipboard {
    margin-top: 10px;
    background-color: #f1a33c;
}
