*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1b8b00;
    background-image: linear-gradient(314deg, #1b8b00 0%, #a2d240 74%);
    
    height: 100%;
    width: 100%;
}
    
#panel{
    height: 88%;
    width: 90%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}
#ptop{
     padding: 0 20%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    background-color: #826754;
    background-image: linear-gradient(315deg, #826754 0%, #ad5d4e 74%);
    width: 100%;
    height: 100px;
}

#startButton {
    background-color: #74d680;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #startButton:hover {
    background-color: #378b29;
  }
  
.elem{
  display: flex;
   align-items: center;
   gap: 20px;

}
.box{
    color: #529167;
    font-weight: 700;
    font-size: 25px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
}
#pbottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: calc(100%-100px);
    padding: 15px 30px;
}
.bubble{
    color: white;
    font-weight: 700;
    font-size: 25px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #74D680;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

.bubble:hover{
    background-color: #396448;
    cursor: pointer;
    transform: scale(1.1);
}
.bubble.clicked {
  transform: scale(0.9); 
}

#welcome{
    font-size: 4vw;
}
#instructionText {
    background-color: #f9f9f9;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    margin-top: 5vw;
  }
  
  #instructionText h2 {
    margin-top: 0;
    font-size: 3vw;
  }
  
  #instructionText ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  #instructionText li {
    margin-bottom: 10px;
    font-size: 2vw;
  }
  .gameover{
    margin-top: 10vw;
  }
  /* style.css */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
}
