*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #928a8a;
}

section.chat__section{
    width: 800px;
    max-width: 90%;
    background: #fff;
}

.brand{
    padding: 20px;
    background: #69c1ff;
    display: flex;
    align-items: center;
}

.brand h1{
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}

.typing-indicator {
  color: gray;
  font-style: italic;
  height: 500px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 40px;
}

.message__area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}


textarea{
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #FBFBFB;
}

.container {
    display: flex;
  }
  
  .div1,
  .div2 {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
  }
  

  #dropdown {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  #dropdown option {
    background-color: #f5f5f5;
    color: #333;
  }
  
  #dropdown option:first-child {
    color: #999;
  }
  