body{
    text-align: center;
}

#board{
    position: absolute;
    background-image: url("./images/fb-game-background.png");
}
#ground{
    position: relative;
    background-image: url("./images/bottom-background.png");
    width: 360px;
    height: 50px;
    display: inline-block;
    bottom: -635px;
}