* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
  }
  
  body {
    height: 100vh;
    background-color: darkslateblue;
  }
  
  .results {
    display: flex;
    justify-content: space-between;
    padding: 0.7em 1em;
    color: white;
    font-size: 1.5em;
  }
  
  .results > .draw {
    font-size: 2.3em;
    transform: scale(0);
  }
  
  h1 {
    font-size: 3.7em;
    color: white;
    text-align: center;
    padding: 0.5em 0;
    letter-spacing: 0.1em;
  }
  
  section {
    padding: 0 15em;
  }
  
  .options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .img {
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 1em;
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  
  button[data-option] {
    flex-basis: 15%;
    background-color: transparent;
    font-size: 1.5em;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    line-height: 2em;
    transition: 0.2 ease;
  }
  
  button[data-option]:hover {
    color: darkslateblue;
    background-color: white;
    cursor: pointer;
  }
  
  .draw-animation {
    animation: draw 0.5s ease 1 both;
  }
  
  .player-choice {
    background-color: #fff;
  }
  
  .pc-choice {
    background-color: yellow;
  }
  
  .draw-color {
    background-image: linear-gradient(-43deg, white 50%, yellow 50%);
  }
  
  @keyframes draw {
    50% {
      transform: scale(1.5);
    }
  
    100% {
      transform: scale(1.5);
    }
  }